@model web_server.Models.User
<img src="@Model.PhotoUrl"/>
<br/>
<label>Имя и фамилия репетитора:</label>
<label>@Model.FirstName @Model.LastName</label>

<br />
<label>О себе:</label>
<label>@Model.About</label>

<br />
<label>Курсы:</label>
@foreach(var item in Model.Courses)
{

    <label>@item.Title</label>
}

<br/>
<br />
@{
    var url = "/about/tutors?#openModalmodal" + Model.UserId;
    <a href="@url">Записаться</a>
}
