@using web_server.Models;
@using web_server.Models.DBModels;
@model Tutor
<img src="@Model.PhotoUrl" style="width:50px;height:50px"/>
<br/>
<label>Ученик репетитора:</label>
<label>@Model.FirstName @Model.LastName</label>

<br />
<label>О себе:</label>
<label>@Model.About</label>

<br />
<label>Курсы:</label>
@foreach(var item in Model.Courses)
{

    <label>@item.Title</label>
}

<br/>
<br />
@{
    var url = "/about/tutors?#openModalmodal" + Model.UserId;
    <a href="@url">Записаться</a>
}
