@using System.Globalization;
@using web_server.Models;
@using web_server.Models.DBModels;
@model List<User>;

<link rel="stylesheet" type="text/css" href="~/css/modal.css">

<script src="~/js/jquery/jquery.min.js"></script>

<script>
    let time = [];

    function clickeds (a, id, date){
        
        var fs = "." + a;

       var f = document.querySelector(fs);
       if(f.style.color == 'blue'){
           f.style.color = "black";
       }else{
            f.style.color = "blue";
       }

         if(time.includes(date)){
            time = time.filter(function (letter) {
                return letter !== date;
            });
       }else{
           time.push(date);
       }

       console.log(time);
     
        document.getElementById('textTime;' + id).value = time;

    }

    function getTime(){
        return time;
    }
</script>
<select id="searchInput" onchange="searchTable(this)">
    <option value="" disabled selected>Курс</option>
    @{
        foreach (var course in (List<Course>)ViewData["courses"])
        {
            <option value="@course.Title">@course.Title</option>
        }
    }
</select>
<input type="reset" onclick="document.getElementById('searchInput').value = ''; document.getElementById('searchInput').onchange();" />
<br/>
<br/>
<div id="tutors">

@{
    
    foreach (Tutor item in Model)
    {
        <div class="tutor">
             
        @{
            <img style="float:left" src="@item.PhotoUrl" width="100" height="100" />
                    <label><b>@item.FirstName</b></label>
                    var modalId = "modal" + item.UserId;
                    <br/>
                    <label>Курсы: </label>
                    <div id="tutorCourses">

                        @{
                            var courses = "";
                            foreach (var course in item.Courses)
                            {
                                courses += course.Title + ";";
                            }
                            courses = courses.TrimEnd(';');
                            <label>@courses</label>
                            <br/>
                        }
                </div>
        var openmodal = "openModal" + modalId;
        var closemodal = "closeModal" + modalId;
        var url = "/about/details?id=" + item.UserId;
       <form method="post" action="@url">
            <button>Подробнее</button>
        </form>
        <button onclick="window.location.href='#@openmodal'">Выбрать время</button>
                }
            </div>

        <div id="@openmodal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">@item.FirstName @item.LastName</h3>
                        <a href="#@closemodal" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">
                        <p>

                            @{
                                int x = 0;
                                int y = 0;
                                var w_days = new List<DayOfWeek>()
                                {
                                    DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday
                                };

                                foreach (var day in w_days)
                                {
                                        <label>@DateTimeFormatInfo.CurrentInfo.GetDayName(day)</label>
                                        y = 0;
                                        <br />
                                        <br />
                                        var dates = item.UserDates.OrderBy(m => m.dateTime);
                                        dates.Reverse();
                                        foreach (var time in dates)
                                    { 
                                        if(time.dateTime.DayOfWeek == day)
                                        {
                                                var name = $"a{item.UserId}{x}{y}";
                                                <button class="@name" onclick="clickeds('@name', '@item.UserId', '@time.dateTime')">@time.dateTime.ToString("HH:mm")</button>
                                                y++;

                                                 <br />

                                        }
                                        x++;

                                       
                                    }
                                     <br />

                                }      
                                <script>
                                function selectChanged(el){
                                document.getElementById("course22").value = el.value;
                                }
                                </script>
                                
                                
                                <br />
                                <br/>
                                <br/>
                                <label>Выберите желаемый курс</label>
                                <select id="courseChange" onchange="selectChanged(this)">
                                @{
                                foreach (var course in item.Courses)
                                {
                                    <option value="@course.Id">@course.Title</option>
                                }
                                }
                               
                                </select>
                                    
                                        if(item.Courses.Count > 0)
                                        {
                                                  <script>
                                        document.getElementById("course22").value = '@item.Courses.First()?.Id';

                                    </script>
                                        }
                                    
                              
                                <br />
                            }


                        </p>
                      
                        <form method="post" action="FromRegisterToLogin" id="form1">
                            @{
                                var textTime = $"textTime;{item.UserId}";
                                var tutor = $"tutor;{item.UserId}";

                                <input hidden="hidden" class="course" name="course" id="course22" value="" />

                                <input  hidden="hidden" class="textTime" name="textTime" id="@textTime" value="" />
                                <input  hidden="hidden" class="tutor" name="tutor" id="@tutor" value="@item.UserId" />

                                <input type="submit" value="Записаться" />
                            }

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    }
}

</div>

<script>
    function searchTable(el) {
        var input, filter, table, tr, td, i, txtValue;
        input = el.value;
        filter = input.toUpperCase();
        table = document.getElementById("tutors");
        tr = table.getElementsByClassName("tutor");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("label");
            for (j = 0; j < td.length; j++) {
                txtValue = td[j].textContent || td[j].innerText || td[j].innerHTML;

                if(filter){
                     if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                } else {
                    tr[i].style.display = "none";
                }
                }else{
                    tr[i].style.display = "";
                }
               
            }

        }
    }

    document.getElementById("searchInput").onkeyup = searchTable;

</script>