@using System.Globalization;
@using web_server.Models;
@using web_server.Models.DBModels

@model User
@{
    ViewData["role"] = Model.Role;
    Layout = "_Layout";


}

<style>

    .input-file {
        position: relative;
        display: inline-block;
        padding-left: 50px !important;
        width:260px !important;   
        padding-top:100px;
    }

        .input-file span {
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            text-decoration: none;
            font-size: 24px;
            vertical-align: middle;
            color: rgb(0 0 0);
            text-align: center;
            border-radius: 10px;
            background-color: #8fe1d7;
            line-height: 22px;
            height: 50px;
            padding: 10px 20px;
            box-sizing: border-box;
            border: none;
            margin: 0;
            transition: background-color 0.2s;
        }

        .input-file input[type=file] {
            position: absolute;
            z-index: -1;
            opacity: 0;
            display: block;
            width: 0;
            height: 0;
        }

            /* Focus */
            .input-file input[type=file]:focus + span {
                  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);

            }

        /* Hover/active */
        .input-file span:hover {
            background-color: #0ca299 !important;
        }

        .input-file:active span {
            background-color: #2E703A;
        }

        /* Disabled */
        .input-file input[type=file]:disabled + span {
            background-color: #eee;
        }
</style>
<link rel="stylesheet" href="~/content/profile/Профиль.css" >
<link rel="stylesheet" href="/css/modal.css">
<script>
    var url = "@web_app.Program.web_server_ip" + "/chatHub" + "?" + "token=" + "@ViewData["userid"]";
    const connection = new signalR.HubConnectionBuilder()
        .configureLogging(signalR.LogLevel.Debug)
        .withUrl(url)
        .configureLogging(signalR.LogLevel.Information)
        .build();
    connection.start().then(() => {
    });

    function submitt(el) {

        console.log(el.value);
        if (el.value.includes('.jpg') || el.value.includes('.JPG') || el.value.includes('.png') || el.value.includes('.PNG') || el.value.includes('.jpeg') || el.value.includes('.JPEG')) {
            document.getElementById('submitError').hidden = 'hidden';

            document.getElementById('form').submit();
        }
        else {
            document.getElementById('submitError').removeAttribute('hidden');
        }
    }
</script>
о
<script>
    $(document).ready(function () {
        var birthDate = '@Model.BirthDate.ToString("yyyy-MM-dd")';
        $('#text-1ae8').val(birthDate);
    });
</script>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <title>Профиль</title>

</head>


<body class="u-xl-mode" data-lang="ru">
    <div style="text-align: center;">
        <label id="title2" style=" vertical-align: middle; margin-left:400px;font-weight:bold;font-size:32px;font-family:Montserrat">Редактирование профиля</label>


    </div>

          
    <section class="u-clearfix u-section-1" id="sec-f8be">
        <div class="u-clearfix u-sheet u-sheet-1" style="padding-left:10%">
            <div class="u-form u-form-1">

                <form class="u-clearfix u-form-spacing-50 u-form-vertical u-inner-form"  id="form" method="post" action="@web_app.Program.web_server_ip/api/account/savephoto?id=@Model.UserId" enctype="multipart/form-data">


                    <div class="u-form-group u-form-name u-label-left">
                        <label for="name-266d" class="u-label u-spacing-72 u-label-1">Фотография</label>

                        <img width="138" height="142" src="@Model.PhotoUrl" />
                        <label  hidden="hidden" id="submitError" style="color:darkred">Доступные форматы файла: jpg, png, jpeg</label>
                        <br />
                        <br />
                        <div class="form-group">

                            <label class="input-file">
                                <input onchange="submitt(this)" id="photoId" type="file" name="file">
                                <span>Выберите файл</span>
                            </label>
                           @* <input type="file" onchange="submitt(this)" class="form-control" id="photoId" name="image" />
                            *@
                        </div>
                            @*<input type="text" id="name-266d" name="name" class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-1" value="@Model.FirstName">
*@                    </div>

                
                  

                </form>

                <form id="form1" action="/account/saveinfo" method="post" class="u-clearfix u-form-spacing-50 u-form-vertical u-inner-form" source="email" name="form-1" style="padding: 10px;">
                    <input type="hidden" name="UserId" value="@Model.UserId" />
                    <input type="hidden" name="ActiveToken" value="@Model.ActiveToken" />

                    <input type="hidden" name="Role" value="@Model.Role" />
                    <div class="u-form-group u-form-name u-label-left">
                        <label for="name-266d" class="u-label u-spacing-72 u-label-1">Имя</label>
                        <input type="text" id="name-266d" name="name" class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-1" value="@Model.FirstName">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-2">
                        <label for="text-565e" class="u-label u-spacing-72 u-label-2">Фамилия</label>
                        <input type="text" placeholder="" id="text-565e" name="lastname" class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-2" value="@Model.LastName">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-3">
                        <label for="text-9ace" class="u-label u-spacing-72 u-label-3">Отчество</label>
                        <input type="text" placeholder="" id="text-9ace" name="middlename" class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-3" value="@Model.MiddleName">
                    </div>

                  
                    <div class="u-form-group u-label-left u-form-group-4">
                        <label for="text-1ae8" class="u-label u-spacing-72 u-label-4">Дата рождения</label>
                        <input type="date" placeholder="" id="text-1ae8"   name="dob" class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-4" value="@Model.BirthDate">
                    </div>
                      <div class="u-form-group u-label-left u-form-group-4">
                        <label for="text-1ae8" class="u-label u-spacing-72 u-label-4">Дата рождения</label>
                        <input type="email" placeholder="" id="text-1ae8"   name="email" class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-4" value="@Model.Email">
                    </div>
                    <div class="u-form-group u-label-left">
                        <label for="email-266d" class="u-label u-spacing-72 u-label-5">Пароль</label>
                        <input type="text" id="email-266d" name="password" class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-5" value="@Model.Password">
                    </div>
                    <div class="u-form-group u-label-left u-form-group-6">
                        <label for="text-5d98" class="u-label u-spacing-72 u-label-6">Номер телефона</label>
                        <input type="text" id="text-5d98" name="phone" class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-6" value="@Model.Phone">
                    </div>
                    <input value="@Model.Role" name="role" id="role" hidden="hidden" />

                    @{
                        if(Model.Role == "Tutor")
                        {
                            <div class="u-form-group u-label-left u-form-group-7">
                                <label for="text-d8c0" class="u-label u-spacing-72 u-label-7">О себе</label>

                                @{
                                    var sw = ((Tutor)Model).About;
                                    if (sw != null)
                                    {
                                        <textarea class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-7" name="about">@sw.ToString().TrimStart().TrimEnd()</textarea>
                                       // <input type="text" placeholder="" id="text-d8c0" name="about" class=" value="@sw">
                                    }
                                    else
                                    {
                                        <textarea class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-7" name="about"></textarea>
                                        //<input type="text" placeholder="" id="text-d8c0" name="about" class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-7" value="">

                                    }
                                }

                            </div>


                            var w_days = new List<DayOfWeek>()
                                {
                                DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday
                                };

                            <div class="u-form-group u-label-left u-form-group-6">
                                <label for="text-5d98" class="u-label u-spacing-72 u-label-6">Курсы</label>
                                @{
                                    int x = 0;
                                    foreach (var item in ((Tutor)Model).Courses)
                                    {
                                        if(x == 0)
                                        {
                                            <label type="text" placeholder="" id="text-d8c0" name="about" class="u-custom-color-1 u-input u-input-rectangle u-radius-10" style="background-color:#FAFAFA;font-size:32px">@item.Title</label>
                                        }
                                    x++;
                                    }

                                }
                            </div>


                            if (((Tutor)Model).Courses.Count > 1)
                            {
                                var ff = ((Tutor)Model).Courses.Skip(1);
                                foreach (var item in ff)
                                {
                                       <div class="u-form-group u-label-left u-form-group-6">
                                <label for="text-5d98" class="u-label u-spacing-72 u-label-6"></label>
                                        <label type="text" placeholder="" id="text-d8c0" name="about" class="u-custom-color-1 u-input u-input-rectangle u-radius-10" style="font-size:32px;background-color:#FAFAFA">@item.Title</label>
                                    </div>
                                }
                            }

                            <br />
                            <br />
                            <br />
                               <div class="u-form-group u-label-left u-form-group-6">
                                <label for="text-5d98" class="u-label u-spacing-72 u-label-6">Свободное время по МСК</label>
                                </div>
                            <br />
                            <br />
                            // <table border="1">

                            var ordered = ((Tutor)Model).UserDates.OrderBy(m => m.dateTime.TimeOfDay).ToList();

                            foreach (var day in w_days)
                            {
                                //   <tr>
                                if (ordered.Where(m => m.dateTime.DayOfWeek == day).Count() == 0)
                                {
                                    continue;
                                }
                                <div class="u-form-group u-label-left u-form-group-6">
                                    <label for="text-5d98" class="u-label u-spacing-72 u-label-6"></label>
                                    <label type="text" placeholder="" id="text-d8c0" name="about" class="u-custom-color-1 u-input u-input-rectangle u-radius-10" style="font-size:32px;background-color:#FAFAFA">@DateTimeFormatInfo.CurrentInfo.GetDayName(day)</label>
                                </div>

                                <div class="u-form-group u-label-left u-form-group-6">
                                    <label for="text-5d98" class="u-label u-spacing-72 u-label-6"></label>

                                    @{
                                        foreach (var time in ordered)
                                        {

                                            if (time.dateTime.DayOfWeek == day)
                                            {


                                                <label type="text" placeholder="" id="text-d8c0" name="about" class="u-custom-color-1 u-input u-input-rectangle u-radius-10" style="font-size:32px;background-color:#FAFAFA">@time.dateTime.ToString("HH:mm")</label>


                                            }
                                        }



                                    }


                                </div>
                            }

                          //  </table>

                        }
                        else if (Model.Role == "Student")
                        {
                             <div class="u-form-group u-label-left u-form-group-8">
                                <label for="text-100d" class="u-label u-spacing-72 u-label-8">Пожелания</label>
                            @{
                                    var sw = ((Student)Model).Wish;
                                    if (sw != null)
                                    {
                                        <textarea class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-7" name="wish">@sw.ToString().TrimStart().TrimEnd()</textarea>

                                    }
                                    else
                                    {
                                        <textarea class="u-custom-color-1 u-input u-input-rectangle u-radius-10 u-input-7" name="wish"></textarea>
                                    }
                            }
                          
                            </div>
                           
                        }
                        
                    }
                
                 
                    <div class="u-form-group u-form-submit u-label-left">
                        <label class="u-label u-spacing-72 u-label-9"></label>
                        <div class="u-align-left u-btn-submit-container">
                            <a href="#" onclick="document.getElementById('form1').submit();" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-2 u-radius-10 u-btn-1">Сохранить</a>
                        </div>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                   
                </form>
            </div>
        </div>
    </section>



</body>
</html>