@using System.Globalization;
@model web_server.Models.User
@{
    ViewData["role"] = Model.Role;
    Layout = "_Layout";

}

<form method="post" action="/account/saveinfo">

    @Html.TextBoxFor(m => m.UserId, new { @class = "form-control txtbox", @hidden="hidden" })
    @Html.TextBoxFor(m => m.ActiveToken, new { @class = "form-control txtbox", @hidden="hidden" })

    @Html.TextBoxFor(m => m.Role, new { @class = "form-control txtbox", @hidden="hidden" })

    <label>Имя</label>
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control txtbox" })
    <br />
    <br />

    <label>Фамилия</label>
    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control txtbox" })
    <br />
    <br />

    <label>Фотография</label>
    <img  width="100" height="100" src="@Model.PhotoUrl"/>
    @Html.TextBoxFor(m => m.PhotoUrl, new { @class = "form-control txtbox", @hidden="hidden" })

    <input type="button" value="Загрузить"/>
    <br />
        <br />

    <label>Дата рождения</label>
        @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control txtbox" })
@*
    <input type="date" id="birthday" name="birthday"
           value="@DateTime.Now.ToString("yyyy-MM-dd")"
           min="1910-01-01" max="@DateTime.Now.AddYears(5).ToString("yyyy-MM-dd")"/>*@
    <br />
    <br />

    <label>Почта</label>
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control txtbox" })
    <br />
    <br />

    <label>Пароль</label>
    @Html.TextBoxFor(m => m.Password, new { @class = "form-control txtbox" })
    <br />
    <br />

    <label>Номер телефона</label>
    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control txtbox" })
    <br />
    <br />

    @{
         var w_days = new List<DayOfWeek>()
                                {
                                    DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday
                                 //   "Понедельник", "Вторник", "Среда" ,"Четверг" ,"Пятница" ,"Суббота" ,"Воскресенье"
                                };
        if(Model.Role == "Tutor")
        {
          <label>Курсы</label>
          foreach (var item in Model.Courses)
            {
                <label>Название</label>
                <label>@item.Title</label>
                <br/>
                <label>Цель</label>
                <label>@item.Goal.Title</label>
                <br/>
            }
            <br />

            <label>Свободное время по МСК</label>
            <br/>
            <br />

            foreach (var day in w_days)
            {
                <label>@DateTimeFormatInfo.CurrentInfo.GetDayName(day)</label>
                <br />
                <br />

                foreach (var time in Model.UserDates.dateTimes)
                {
                    if (time.DayOfWeek == day)
                    {
                        <label>@time.ToString("HH:mm")</label>

                        <br />

                    }
                }
                <br />
            }

            <br />

            <label>О себе</label>
            @Html.TextBoxFor(m => m.About, new { @class = "form-control txtbox" })
        }
        else if (Model.Role == "Student")
        {
            <label>Пожелания</label>
            @Html.TextBoxFor(m => m.Wish, new { @class = "form-control txtbox" })
        }
    }

    <br/>
    <br />
    <input type="submit" value="Сохранить"/>
</form>

<a href="/account/logout">выйти</a>
