@using System.Globalization;
@model web_server.Models.User
@{
    ViewData["role"] = Model.Role;
    Layout = "_Layout";


}

<script>


    function submitt(el){

        if (el.value.includes('.jpg') || el.value.includes('.png') || el.value.includes('.jpeg')){
            document.getElementById('submitError').hidden = 'hidden';

            document.getElementById('form').submit();
        }
        else
        {
            document.getElementById('submitError').removeAttribute('hidden');

        }
    }
</script>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

<form class="col-xs-12" id="form" method="post" action="http://localhost:23382/api/account/savephoto?id=@Model.UserId" enctype="multipart/form-data">
    <br/>
    <label>Фотография</label>
    <br />
        <br/>
    <img width="50" height="50" src="@Model.PhotoUrl"/>

    <br /><br />
    <label hidden="hidden" id="submitError" style="color:darkred">Доступные форматы файла: jpg, png, jpeg</label>
    <br />
    <br />
    <div class="form-group">
        <input type="file" onchange="submitt(this)" class="form-control" id="photoId" name="image" />
    </div>
  
</form>

<form method="post" action="/account/saveinfo">

    @Html.TextBoxFor(m => m.UserId, new { @class = "form-control txtbox", @hidden="hidden" })
    @Html.TextBoxFor(m => m.ActiveToken, new { @class = "form-control txtbox", @hidden="hidden" })

    @Html.TextBoxFor(m => m.Role, new { @class = "form-control txtbox", @hidden="hidden" })

    <label>Имя</label>
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control txtbox" })
    <br />
    <br />

    <label>Фамилия</label>
    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control txtbox" })
    <br />
    <br />

    
    @Html.TextBoxFor(m => m.PhotoUrl, new { @class = "form-control txtbox", @hidden="hidden" })
    <br />
        <br />

    <label>Дата рождения</label>
        @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control txtbox" })

    <br />
    <br />

    <label>Почта</label>
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control txtbox" })
    <br />
    <br />

    <label>Пароль</label>
    @Html.TextBoxFor(m => m.Password, new { @class = "form-control txtbox" })
    <br />
    <br />

    <label>Номер телефона</label>
    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control txtbox" })
    <br />
    <br />

    @{
         var w_days = new List<DayOfWeek>()
                                {
                                    DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday
                                };
        if(Model.Role == "Tutor")
        {
          <label>Курсы</label>
            <br />
            <br />

            foreach (var item in Model.Courses)
            {
                <label>Название</label>
                <label>@item.Title</label>
                <br/>
                <label>Цель</label>
                <label>@item.Goal.Title</label>
                <br/>
                <br />

            }
            <br />

            <label>Свободное время по МСК</label>
            <br/>
            <br />

            foreach (var day in w_days)
            {
                <label>@DateTimeFormatInfo.CurrentInfo.GetDayName(day)</label>
                <br />
                <br />

                foreach (var time in Model.UserDates.dateTimes)
                {
                    if (time.DayOfWeek == day)
                    {
                        <label>@time.ToString("HH:mm")</label>

                        <br />

                    }
                }
                <br />
            }

            <br />

            <label>О себе</label>
            @Html.TextBoxFor(m => m.About, new { @class = "form-control txtbox" })
        }
        else if (Model.Role == "Student")
        {
            <label>Пожелания</label>
            @Html.TextBoxFor(m => m.Wish, new { @class = "form-control txtbox" })
        }
    }

    <br/>
    <br />
    <input type="submit" value="Сохранить"/>
</form>

<a href="/account/logout">выйти</a>
