@using web_server.Models;
@model DisplayModelShedule
@{
    Layout = "_Layout";
}
<style>
    table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid black;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
</style>

<link rel="stylesheet" type="text/css" href="~/css/modal.css">

<label>Сегодня: @DateTime.Parse(DateTime.Now.Date.ToString()).ToString("dd.MM.yyyy")</label>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<div oncontextmenu="return false;">
    <div id="openmodal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Выберите действие</h3>
                    <a href="#closeModal" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">

                <label>Добавить свободный xас</label>
                <a href="#addhour">Ууу</a>
            </div>
                   <br/>
                   <br/>

                <label>Добавить занитяе</label>
                <a href="#choosestudent">Ууу</a>
            </div>
        </div>
 </div>

    <div id="statusModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                       Выберите статус занятия
                    </h3>
                    <a href="#closeModal" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">

                    <script>
                        function changesStatus(value){
                            if(value.value === 'Перенесен'){
                                $('#reason-label').removeAttr('hidden');
                                $('#reason').removeAttr('hidden');

                                $('#date-label').removeAttr('hidden');
                                $('#newDate').removeAttr('hidden');
                                $('#newTime').removeAttr('hidden');
                                $('#looped2').removeAttr('hidden');

                                $('#label-looped').removeAttr('hidden');

                                $('#who-label').removeAttr('hidden');
                                $('#initiator').removeAttr('hidden');
                            }
                        }
                    </script>
                        <br/>
                        <label>Текущий статус занятия:</label>
                    <input disabled="disabled" type="text" id="currstatus" name="currstatus" />
                    <br/>
                    <br />

                    <label>Изменить статус занятия:</label>
                    <br />
                    <form method="post" action="/schedule/changeStatus">
                        @{
                            <select name="status" id="status" onchange="changesStatus(this)">
                                @{
                                    foreach (Status item in Enum.GetValues(typeof(web_server.Models.Status)))
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                           
                        }
                        <br/>
                        <input hidden="hidden" type="text" id="courseId" name="courseId" />
                        <input hidden="hidden" type="text" id="currDate" name="currDate" />
                        <input hidden="hidden" type="text" id="startDate" name="startDate" />

                        <label hidden="hidden" id="label-looped" for="looped2">Постоянный перенос?</label>
                        <input hidden="hidden" type="checkbox" id="looped2" name="looped" />

                         <br/>
                        <label hidden="hidden" id="reason-label">Причина:</label>

                        <input hidden="hidden" type="text" id="reason" name="reason" />
                        <br/>
                        <label hidden="hidden" id="date-label">Новая дата:</label>

                        <input hidden="hidden" type="date" id="newDate" name="newDate" />
                        <input hidden="hidden" type="time" id="newTime" name="newTime" />

                        <br />



                        <label id="who-label" hidden="hidden">Кто перенес:</label>

                        <select hidden="hidden" name="initiator" id="initiator">
                            <option value="@ViewData["userid"]">Репетитор</option>
                            <option value="" id="studentId">Студент</option>

                        </select>
                        <br/>

                        <input hidden="hidden" type="text" value="st" id="dateStatus" name="dateStatus" />

                        <input hidden="hidden" type="text" value="st" id="userStatus" name="userStatus" />

                        <input hidden="hidden" type="text" value="st" id="tutorStatus" name="tutorStatus" />
                        <input type="submit" value="ОК" />
                        <input type="button" value="Отмена" href="#closeModal" />

                    </form>
                </div>
            </div>
        </div>
    </div>

<div id="removeModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                   Удалить выбранное занятие?
                </h3>
                <a href="#closeModal" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <form method="post" action="/schedule/RemoveSchedule">
                    <input hidden="hidden" type="text" value="ss" id="removeDate" name="removeDate" />
                    <input hidden="hidden" type="text" value="ss" id="removeTutorId" name="removeTutorId" />
                    <input hidden="hidden" type="text" value="ss" id="removeUserId" name="removeUserId" />

                    <input type="submit" value="ОК" />
                    <input type="button" value="Отмена" href="#closeModal" />

                </form>
            </div>
        </div>
    </div>
</div>

<div id="addhour" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title">
                    Добавить свободный час на выбранную дату?
                </h3>
                    <a href="#closeModal" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
          
                <form method="post" action="/schedule/AddFreeTime">
                    <label for="looped">Повторяющееся занятие?</label>
                    <br/>
                    <input type="checkbox"  id="looped" name="looped" />
                    <br />
                    <br />
                    <input id="date2" name="date2" type="text" value="s" hidden="hidden" />
                    <input id="tutorId" name="tutorId" type="text" value="@ViewData["userid"]" hidden="hidden" />
                    <input type="submit" value="ОК" />
                    <input type="button" value="Отмена" href="#closeModal"/>

                </form>
            </div>
        </div>
    </div>
</div>
    
<div id="choosestudent" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Выберите ученика и курс</h3>
                    <a href="#closeModal" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                <form method="post" action="/schedule/AddSchedule">
                    <label for="looped">Повторяющееся занятие?</label>
                    <br />
                    <input type="checkbox" id="looped" name="looped" />
                    <br/>
                 <select name="userId" id="userId">

                        @{
                            Dictionary<int, string> d = new Dictionary<int, string>();
                            foreach (var item in Model.Schedules)
                            {
                                if (d.ContainsKey(item.UserId)){
                                    continue;
                                }

                                d.Add(item.UserId, item.UserName);
                                <option value="@item.UserId" >@item.UserName</option>
                        }
                    }
                </select>
                        <br />

                <select name="courses" id="courses">

                    @{
                        foreach (web_server.Models.Course item in (List<web_server.Models.Course>)ViewData["courses"])
                        {
                            <option value="@item.Id">Название: @item.Title Цель: @item.Goal.Title</option>
                        }
                    }

                </select>
                <br/>
                    <input id="date3" name="date3" type="text" value="s" hidden="hidden" />
                    <input id="tutorId" name="tutorId" type="text" value="@ViewData["userid"]" hidden="hidden" />
                <input type="submit" value="ОК" />
                <input type="button" value="Отмена" href="#closeModal" />
                </form>
                <script>
                    var el = document.getElementById("choosedDate");
                </script>

            </div>
        </div>
    </div>
</div>
<input id="choosedDate" type="text" value="s" hidden="hidden" />

<script>
    function clicked(time, s_day) {
        var date = document.getElementById("main-date").value;

        if(date.includes("янв")){
            date = date.replace("янв", "jan")
        }
        if(date.includes("фев")){
            date = date.replace("фев", "feb")
        }
        if(date.includes("мар")){
            date = date.replace("мар", "mar")

        }
        if(date.includes("апр")){
            date = date.replace("апр", "apr")

        }
        if (date.includes("май")) {
            date = date.replace("май", "may")

        }
        if(date.includes("июн")){
            date = date.replace("июн", "jun")

        }
        if(date.includes("июл")){
            date = date.replace("июл", "jul")

        }
        if(date.includes("авг")){
            date = date.replace("авг", "aug")

        }
        if (date.includes("сен")) {
            date = date.replace("сен", "sep")

        }
        if (date.includes("окт")) {
            date = date.replace("окт", "oct")

        }
        if (date.includes("ноя")) {
            date = date.replace("ноя", "nov")

        }
        if (date.includes("дек")) {
            date = date.replace("дек", "dec")
        }
 
        var dateString = s_day + " " + date + " " + time;
        const time2 = Date.parse(dateString);
        document.getElementById("choosedDate").value = dateString;
        document.getElementById("date2").value = dateString;
        document.getElementById("date3").value = dateString;

        window.location.href = "#openmodal";

    }
</script>
<div class="calendar">
    <div class="header">
        <form method="get" action="/schedule/downDate">
            <input hidden="hidden" id="date" name="date" value="@Model.Date" />
            <input type="submit" value="<<" />
        </form>
        <input id="main-date" class="main-date" disabled="disabled" type="text" value="@Model.Date.ToString("MMM yyyy")" />

        <form method="get" action="/schedule/upDate">
            <input hidden="hidden" id="date" name="date" value="@Model.Date"/>
            <input type="submit"  value=">>" />
        </form>
    </div>
    <br/>
    <table cellpadding="0" cellspacing="0">
    <tr>
            <th></th>

            <th> Пн @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).Day </th>
            <th> Вт @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(1).Day </th>
            <th> Ср @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(2).Day </th>
            <th> Чт @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(3).Day </th>
            <th> Пт @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(4).Day </th>
            <th> Сб @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(5).Day </th>
            <th> Вс @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(6).Day </th>
          
    </tr>
        @{
                ViewBag.Date = Model.Date.ToString("MMM yyyy");

            var w_days = new List<DayOfWeek>()
            {
            DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday
            };

            var hours = new List<string>()
            {
                "00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00","08:00", "09:00","10:00", "11:00","12:00", "13:00","14:00", "15:00","16:00", "17:00",
                "18:00", "19:00","20:00", "21:00","22:00", "23:00"
            };

            var countA = 0;
            var prev_day = 0;
            foreach (var item in hours)
            {
                var countB = 1;

                <tr>
                
                <td>@item</td>
                        @{
                            foreach (var day in w_days)
                            {
                                var btn = $"{countA}_{countB}";
                                int s_day = -1;
                                DateTime s_date;
                                <td>
                                    @{
                                        var date = new DateTime();
                                        if (@countB == 1)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7);
                                        }
                                        if (@countB == 2)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(1);
                                        }
                                        if (@countB == 3)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(2);
                                        }
                                        if (@countB == 4)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(3);
                                        }
                                        if (@countB == 5)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(4);
                                        }
                                        if (@countB == 6)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(5);
                                        }
                                        if (@countB == 7)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(6);
                                        }

                                        s_date = date;
                                        s_day = date.Day;
                                        <script>console.log("date @date" );</script>

                            }
                         
                            @{
                                        if (ViewData["role"].ToString() == "Tutor")
                                        {
                                            <button class="@btn" id="@btn" style="background-color:transparent;color:transparent; background-repeat:no-repeat;border:none;cursor:pointer;overflow:hidden;outline:none;width:auto" onclick="clicked('@item','@s_day')">clicked3</button>
                                        }
                            }
                                <div>
                                        @{
                                            foreach (var model1 in Model.Schedules)
                                            {



                                                var _date = s_date;

                                                if (_date < model1.StartDate)
                                                {
                                                    continue;
                                                }

                                                if(model1.RemoveDate != null)
                                                {
                                                    if (_date < model1.RemoveDate)
                                                    {
                                                        continue;
                                                    }
                                                }
                                            foreach (var m_date in model1.Date.dateTimes)
                                            {
                                                if (m_date.DayOfWeek == day)
                                                {
                                                    if (model1.Looped != true)
                                                    {
                                                        if (m_date != DateTime.Parse(s_day + " " + ViewBag.Date + " " + item))
                                                        {
                                                            continue;
                                                        }    
                                                    }
                                                    if (m_date.Hour == DateTime.Parse(item).Hour)
                                                    {
                                                        if(ViewData["role"].ToString() == "Tutor")
                                                        {
                                                            if (string.IsNullOrEmpty(model1.UserName))
                                                            {                              
                                                                 <script>
                                                                    var elem = document.getElementsByClassName('@btn');
                                                                    elem[0].parentNode.removeChild(elem[0]);
                                                                    </script>
                                                               btn = $"btn_{model1.UserId}_{model1.Date.dateTimes[0].ToString("dd-MM-yyyy-HH-mm")}_{countA}_{countB}";
                                                                <button  class="@btn" id="@btn" style="background-color:transparent;color:transparent; background-repeat:no-repeat;border:none;cursor:pointer;overflow:hidden;outline:none;width:auto" onclick="clicked('@item','@s_day')">clicked3</button>

                                                                <script>
                                                                   

                                                                    document.getElementsByClassName('@btn')[0].style.backgroundColor = "turquoise";
                                                                       
                                                                        $("#@btn").mousedown(function (e) {

                                                                        if (e.which === 3) {
                                                                                var _class = e.target.getAttribute("id");
                                                                                var sub = _class.split("_");
                                                                                var date = sub[2];
                                                                                var userid = sub[1];

                                                                                var name = e.target.innerHTML;
                                                                                document.getElementById("removeTutorId").value = @ViewData["userid"];
                                                                                document.getElementById("removeUserId").value = userid
                                                                                document.getElementById("removeDate").value = date;
                                                                                window.location.href = "#removeModal";
                                                                        }
                                                                        else
                                                                        {
                                                                                var _class = e.target.getAttribute("id");
                                                                                var sub = _class.split("_");
                                                                                var datee = sub[2];
                                                                                var userid = sub[1];

                                                                                var name = e.target.innerHTML; 
                                                                                document.getElementById("dateStatus").value = datee;
                                                                                document.getElementById("tutorStatus").value = @ViewData["userid"];
                                                                                document.getElementById("userStatus").value = userid;
                                                                                document.getElementById("studentId").value = userid;
                                                                                document.getElementById("courseId").value = @model1.Course.Id;
                                                                                document.getElementById("currDate").value = "@DateTime.Parse($"{s_day} {ViewBag.Date} {item}")";

                                                                                document.getElementById("currstatus").value = "@model1.Status";
                                                                                document.getElementById("status").value = "@model1.Status";

                                                                                window.location.href = "#statusModal";

                                                                        }
                                                                    });

                                                                </script>
                                                                break;
                                                            }
                                                            else
                                                            {
                                                                <script>
                                                                    var elem = document.getElementsByClassName('@btn');
                                                                    elem[0].parentNode.removeChild(elem[0]);
                                                                </script>
                                                                var label = $"label_{model1.UserId}_{model1.Date.dateTimes[0].ToString("dd-MM-yyyy-HH-mm")}_{countA}_{countB}";
                                                                <div id="tooltrip">
                                                                    <label data-title="Курс: @model1.Course?.Title; Цель: @model1.Course?.Goal?.Title; Имя и фамилия: @model1.UserName" id="@label" class="@label" style="background-color:lightblue;">@model1.UserName.ToString()</label>
                                                                </div>
                                                                        if (model1.ReadyDates.Count > 0)
                                                                        {

                                                                                var date2 = DateTime.Parse(s_day + " " + ViewBag.Date+ " " + item);
                                                                                foreach (var readyDate in model1.ReadyDates)
                                                                                 {
                                                                            if (readyDate == date2)
                                                                                    {
                                                                                        <script>
                                                                                        document.getElementsByClassName('@label')[0].style.backgroundColor = "mediumblue";
                                                                                        document.getElementsByClassName('@label')[0].style.color = "white";
                                                                                        </script>
                                                                                           

                                                                                    }
                                                                                }
                                                                            
                                                                        }
                                                                        else
                                                                        {
                                                                            if (model1.Status == Status.Проведен) {
                                                                                <script>
                                                                                document.getElementsByClassName('@label')[0].style.backgroundColor = "mediumblue";
                                                                                document.getElementsByClassName('@label')[0].style.color = "white";
                                                                                </>
                                                                               
                                                                            }

                                                                            if (model1.Status == Status.Перенесен) {
                                                                                <script>   document.getElementsByClassName('@label')[0].style.backgroundColor = "gray";
                                                                                document.getElementsByClassName('@label')[0].style.color = "white";</script>
                                                                             
                                                                            }
                                                                        }

                                                                     
                                                                       <script>
                                                                    $("#@label").mousedown(function (e) {
                                                                        if (e.which === 3) {
                                                                            var _class = e.target.getAttribute("id");
                                                                            var sub = _class.split("_");
                                                                            var date = sub[2];
                                                                            var userid = sub[1];
                                                                            
                                                                            var name = e.target.innerHTML;

                                                                                document.getElementById("removeTutorId").value = @ViewData["userid"];
                                                                            document.getElementById("removeUserId").value = userid
                                                                            document.getElementById("removeDate").value = date;
                                                                            window.location.href = "#removeModal";

                                                                            } else {
                                                                                var _class = e.target.getAttribute("id");
                                                                                var sub = _class.split("_");
                                                                                var datee = sub[2];
                                                                                var userid = sub[1];

                                                                                var name = e.target.innerHTML;
                                                                                document.getElementById("dateStatus").value = datee;
                                                                                document.getElementById("tutorStatus").value = @ViewData["userid"];
                                                                                document.getElementById("userStatus").value = userid;
                                                                                document.getElementById("studentId").value = userid;
                                                                                document.getElementById("courseId").value = @model1.Course.Id;
                                                                                document.getElementById("currstatus").value = "@model1.Status";
                                                                                document.getElementById("currDate").value = "@DateTime.Parse($"{s_day} {ViewBag.Date} {item}")";
                                                                                document.getElementById("status").value = "@model1.Status";
                                                                                window.location.href = "#statusModal";

                                                                            }
                                                                    });

                                                                  </script>
                                                                    
                                                                    <style>
                                                                        label[data-title] {
                                                                        position: relative;
                                                                        display: inline-block;
                                                                        cursor: pointer;
                                                                        border-bottom: 1px dashed #000;
                                                                        }

                                                                        label[data-title]:hover:before {
                                                                        content: attr(data-title);
                                                                        position: absolute;
                                                                        width: 100px;
                                                                        color: #fff;
                                                                        background: #000;
                                                                        padding: 5px;
                                                                        border-radius: 4px;
                                                                        bottom: 25px;
                                                                        left: 50px;
                                                                        }
                                                                    </style>
                                                                    break;
                                                                }
                                                        }
                                                        else
                                                        { 
                                                            <script>
                                                                    var elem = document.getElementsByClassName('@btn');
                                                                    elem[0].parentNode.removeChild(elem[0]);
                                                            </script>
                                                                var label = $"label_{model1.UserId}_{model1.Date.dateTimes[0].ToString("dd-MM-yyyy-HH-mm")}_{countA}_{countB}";

                                                            <label id="@label" class="@label" style="background-color:lightblue">@model1.TutorFullName.ToString()</label>
                                                                if (model1.ReadyDates.Count > 0)
                                                                {

                                                                    var date3 = DateTime.Parse(s_day + " " + ViewBag.Date + " " + item);
                                                                    foreach (var readyDate in model1.ReadyDates)
                                                                    {

                                                                        if (readyDate == date3)
                                                                        {
                                                                            <script>
                                                                                document.getElementsByClassName('@label')[0].style.backgroundColor = "mediumblue";
                                                                                document.getElementsByClassName('@label')[0].style.color = "white";
                                                                            </script>


                                                                        }
                                                                    }

                                                                }
                                                                else
                                                                {
                                                                    if (model1.Status == Status.Проведен)
                                                                    {
                                                                        <script>
                                                                                document.getElementsByClassName('@label')[0].style.backgroundColor = "mediumblue";
                                                                                document.getElementsByClassName('@label')[0].style.color = "white";
                                                                                </>

                                                                            }

                                                                            if (model1.Status == Status.Перенесен) {
                                                                                <script>document.getElementsByClassName('@label')[0].style.backgroundColor = "gray";
                                                                            document.getElementsByClassName('@label')[0].style.color = "white";</script>

                                                                    }
                                                                }
                                                                break;
                                                            }
                                                        }
                                                    }
                                                }





                                            }
                                        }
                                    </div>
                                </td>

                                prev_day = s_day;
                                countB++;
                        }
                    }
                      
                </tr>
                countA++;
            }
    }    
    </table>

    
</div>

</div>
