@using web_server.Models;
@model DisplayModelShedule
@{
    Layout = "_Layout";
}
<style>
    table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid black;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
</style>

<link rel="stylesheet" type="text/css" href="~/css/modal.css">

<label>Сегодня: @DateTime.Parse(DateTime.Now.Date.ToString()).ToString("dd.MM.yyyy")</label>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<div oncontextmenu="return false;">
    <div id="openmodal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Выберите действие</h3>
                    <a onclick ="closeModalWindow()" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">

                <label>Добавить свободный xас</label>
                <a href="#addhour">Добавить</a>
            </div>
                   <br/>
                   <br/>

                <label>Добавить занитяе</label>
                <a href="#choosestudent">Добавить</a>
            </div>
        </div>
 </div>

    <div id="statusModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                       Выберите статус занятия
                    </h3>
                    <a onclick ="closeModalWindow()" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">

                    <script>
                        function changesStatus(value){
                            if(value.value === 'Перенесен'){
                                $('#reason-label').removeAttr('hidden');
                                $('#reason').removeAttr('hidden');

                                $('#date-label').removeAttr('hidden');
                                $('#newDate').removeAttr('hidden');
                                $('#newTime').removeAttr('hidden');
                                $('#looped2').removeAttr('hidden');

                                $('#label-looped').removeAttr('hidden');

                                $('#who-label').removeAttr('hidden');
                                $('#initiator').removeAttr('hidden');
                            }
                        }
                    </script>
                        <br/>
                        <label>Текущий статус занятия:</label>
                    <input disabled="disabled" type="text" id="currstatus" name="currstatus" />
                    <br/>
                    <br />

                    <label>Изменить статус занятия:</label>
                    <br />
                    <form method="post" action="/schedule/changeStatus">
                        @{
                            <select name="status" id="status" onchange="changesStatus(this)">
                                @{
                                    foreach (Status item in Enum.GetValues(typeof(web_server.Models.Status)))
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                           
                        }
                        <br/>
                        <input hidden="hidden" type="text" id="courseId" name="courseId" />
                        <input hidden="hidden" type="text" id="currDate" name="currDate" />
                        <input hidden="hidden" type="text" id="startDate" name="startDate" />

                        <label hidden="hidden" id="label-looped" for="looped2">Постоянный перенос?</label>
                        <input hidden="hidden" type="checkbox" id="looped2" name="looped" />

                         <br/>
                        <label hidden="hidden" id="reason-label">Причина:</label>

                        <input hidden="hidden" type="text" id="reason" name="reason" />
                        <br/>
                        <label hidden="hidden" id="date-label">Новая дата:</label>

                        <input hidden="hidden" type="date" id="newDate" name="newDate" />
                        <input hidden="hidden" type="time" id="newTime" name="newTime" />

                        <br />



                        <label id="who-label" hidden="hidden">Кто перенес:</label>

                        <select hidden="hidden" name="initiator" id="initiator">
                            <option value="Репетитор">Репетитор</option>
                            <option value="Студент" id="studentId">Студент</option>

                        </select>
                        <br/>

                        <input hidden="hidden" type="text" value="st" id="dateStatus" name="dateStatus" />

                        <input hidden="hidden" type="text" value="st" id="userStatus" name="userStatus" />

                        <input hidden="hidden" type="text" value="st" id="tutorStatus" name="tutorStatus" />
                        <input type="submit" value="ОК" />
                        <input type="button" value="Отмена" onclick ="closeModalWindow()" />

                    </form>
                </div>
            </div>
        </div>
    </div>

<div id="removeModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                   Удалить выбранное занятие?
                </h3>
                <a onclick ="closeModalWindow()" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <form method="post" action="/schedule/RemoveSchedule">
                    <input hidden="hidden" type="text" value="ss" id="removeDate" name="removeDate" />
                    <input hidden="hidden" type="text" value="ss" id="removeTutorId" name="removeTutorId" />
                    <input hidden="hidden" type="text" value="ss" id="removeUserId" name="removeUserId" />
                        <input hidden="hidden" type="text" value="ss" id="currRemoveDate" name="currRemoveDate" />

                        
                    <input type="submit" value="ОК" />
                    <input type="button" value="Отмена" onclick ="closeModalWindow()" />

                </form>
            </div>
        </div>
    </div>
</div>
<script>
        function changedChooseSelect(el){
            document.getElementById('tutorIdChoosed').value = el.value;

        }
        function changedHourSelect(el)    
        {
            document.getElementById('tutorIdFreeTime').value = el.value;
        }
</script>
<div id="addhour" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title">
                    Добавить свободный час на выбранную дату?
                </h3>
                    <a onclick ="closeModalWindow()" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                @*    @if(ViewData["role"].ToString() == "Manager")
                    {<br/>
                        <br />
                        <label>Выберите репетитора:</label>
                        <select onchange="changedHourSelect(this)">
                            <option value=""></option>
                            @{
                                foreach (var item in (List<User>)ViewData["Tutors"])
                                {
                                    <option value="@item.UserId">@item.FirstName @item.LastName</option>
                                }
                            }

                        </select>
                        <br/>
                        <br/>
                    }*@
                    <form method="post" action="/schedule/AddFreeTime">
                    <label for="looped">Повторяющееся занятие?</label>
                    <br/>
                    <input type="checkbox"  id="looped" name="looped" />
                    <br />
                    <br />
                    <input id="date2" name="date2" type="text" value="s" hidden="hidden" />
                        <input id="tutorIdFreeTime" name="tutorIdFreeTime" type="text" value="@ViewData["userid"]" hidden="hidden" />
                    <input type="submit" value="ОК" />
                    <input type="button" value="Отмена" onclick ="closeModalWindow()"/>

                </form>
            </div>
        </div>
    </div>
</div>
    
<div id="choosestudent" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Выберите ученика и курс</h3>
                    <a onclick ="closeModalWindow()" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">

                    @*@if (ViewData["role"].ToString() == "Manager")
                    {
                        <br />
                        <br />
                        <label>Выберите репетитора:</label>
                        <select onchange="changedChooseSelect(this)">
                            <option value=""></option>

                            @{
                                foreach (var item in (List<User>)ViewData["Tutors"])
                                {
                                    <option value="@item.UserId">@item.FirstName @item.LastName</option>
                                }
                            }

                        </select>
                        <br />
                        <br />
                    }*@

                <form method="post" action="/schedule/AddSchedule">
                    <label for="looped">Повторяющееся занятие?</label>
                    <br />
                    <input type="checkbox" id="looped" name="looped" />
                    <br/>
                 <select name="userId" id="userId">

                        @{
                            Dictionary<int, string> d = new Dictionary<int, string>();
                            foreach (var item in Model.Schedules)
                            {
                                if (d.ContainsKey(item.UserId)){
                                    continue;
                                }

                                d.Add(item.UserId, item.UserName);
                                <option value="@item.UserId" >@item.UserName</option>
                        }
                    }
                </select>

                <br />

                <select name="courses" id="courses">
                    @{
                        foreach (web_server.Models.Course item in (List<web_server.Models.Course>)ViewData["courses"])
                        {
                            <option value="@item.Id">Название: @item.Title Цель: @item.Goal.Title</option>
                        }
                    }

                </select>
                <br/>
                <input id="date3" name="date3" type="text" value="s" hidden="hidden" />
                <input id="tutorIdChoosed" name="tutorIdChoosed" type="text" value="@ViewData["userid"]" hidden="hidden" />
                <input type="submit" value="ОК" />
                <input type="button" value="Отмена" onclick ="closeModalWindow()" />
                </form>
                <script>
                    var el = document.getElementById("choosedDate");
                </script>

            </div>
        </div>
    </div>
</div>
<input id="choosedDate" type="text" value="s" hidden="hidden" />

    <script>
        function closeModalWindow() {
            window.location.hash = "#closeModal";
        }

        function clicked(time, s_day, s_date) {
            var months = { "янв": "jan", "фев": "feb", "мар": "mar", "апр": "apr", "май": "may", "июн": "jun", "июл": "jul", "авг": "aug", "сен": "sep", "окт": "oct", "ноя": "nov", "дек": "dec" };

            var date = document.getElementById("main-date").value.toLowerCase();

            for (var key in months) {
                if (date.includes(key)) {
                    date = date.replace(key, months[key]);
                    break;
                }
            }

            document.getElementById("choosedDate").value = s_date;
            document.getElementById("date2").value = s_date;
            document.getElementById("date3").value = s_date;
            

            window.location.hash = "#openmodal";
        }
    </script>
    <div class="calendar">
    <div class="header">
        <form method="get" action="/schedule/downDate">
            <input hidden="hidden" id="date" name="date" value="@Model.Date" />
            <input type="submit" value="<<" />
        </form>
        <input id="main-date" class="main-date" disabled="disabled" type="text" value="@Model.Date.ToString("MMM yyyy")" />

        <form method="get" action="/schedule/upDate">
            <input hidden="hidden" id="date" name="date" value="@Model.Date"/>
            <input type="submit"  value=">>" />
        </form>
    </div>
    <br/>
    <table cellpadding="0" cellspacing="0">
    <tr>
            <th></th>

            <th> Пн @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).Day </th>
            <th> Вт @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(1).Day </th>
            <th> Ср @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(2).Day </th>
            <th> Чт @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(3).Day </th>
            <th> Пт @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(4).Day </th>
            <th> Сб @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(5).Day </th>
            <th> Вс @Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(6).Day </th>
          
    </tr>
        @{

            var w_days = new List<DayOfWeek>()
            {
            DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday
            };

            var hours = new List<string>()
            {
                "00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00","08:00", "09:00","10:00", "11:00","12:00", "13:00","14:00", "15:00","16:00", "17:00",
                "18:00", "19:00","20:00", "21:00","22:00", "23:00"
            };

            var countA = 0;
            var prev_day = 0;
            foreach (var item in hours)
            {
                var countB = 1;

                <tr>
                
                        <td >@item</td>
                        @{
                            foreach (var day in w_days)
                            {
                                var btn = $"{countA}_{countB}";
                                int s_day = -1;
                                DateTime s_date;
                                <td style="width:100px; height:20px">
                                    @{
                                        var date = new DateTime();
                                        if (@countB == 1)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7);
                                        }
                                        if (@countB == 2)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(1);
                                        }
                                        if (@countB == 3)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(2);
                                        }
                                        if (@countB == 4)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(3);
                                        }
                                        if (@countB == 5)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(4);
                                        }
                                        if (@countB == 6)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(5);
                                        }
                                        if (@countB == 7)
                                        {
                                            date = Model.Date.AddDays(-1 * (7 + (Model.Date.DayOfWeek - DayOfWeek.Monday)) % 7).AddDays(6);
                                        }

                                        s_date = DateTime.Parse($"{date.Day} {date.Month} {date.Year} {item}");
                                        ViewBag.Date = s_date;
                                        s_day = date.Day;

                            }
                         
                            @{
                                        if (ViewData["role"].ToString() == "Tutor"/* || ViewData["role"].ToString() == "Manager"*/)
                                        {
                                            <button class="@btn" id="@btn" style="background-color:transparent;color:transparent; background-repeat:no-repeat;border:none;cursor:pointer;overflow:hidden;outline:none;width:100px" onclick="clicked('@item','@s_day','@s_date')"></button>
                                        }
                            }
                                <div>
                                        @{
                                            foreach (var model1 in Model.Schedules)
                                            {
                                                var _date = s_date;

                                                if (_date < model1.StartDate)
                                                {
                                                    continue;
                                                }

                                                if (model1.RemoveDate != DateTime.Parse("01.01.0001 0:00:00"))
                                                {
                                                    if (_date >= model1.RemoveDate)
                                                    {
                                                        continue;
                                                    }
                                                }
                                                if (model1.RescheduledDate != DateTime.Parse("01.01.0001 0:00:00"))
                                                {
                                                    if (_date >= model1.RescheduledDate && model1.Looped == true)
                                                    {

                                                        continue;
                                                    }
                                                                                                           
                                                }
                                            foreach (var m_date in model1.Date.dateTimes)
                                            {
                                                if (m_date.DayOfWeek == day)
                                                {
                                                    if (model1.Looped != true)
                                                    {
                                                        if (m_date != s_date)
                                                        {
                                                            continue;
                                                        }    
                                                    }
                                                    if (m_date.Hour == DateTime.Parse(item).Hour)
                                                    {
                                                        if (ViewData["role"].ToString() == "Tutor" /*|| ViewData["role"].ToString() == "Manager"*/)
                                                        {
                                                            if (string.IsNullOrEmpty(model1.UserName))
                                                            {                              
                                                                 <script>
                                                                    var elem = document.getElementsByClassName('@btn');
                                                                    elem[0].parentNode.removeChild(elem[0]);
                                                                 </script>

                                                               btn = $"btn_{model1.UserId}_{model1.Date.dateTimes[0].ToString("dd-MM-yyyy-HH-mm")}_{countA}_{countB}_{model1.TutorId}";
                                                                    <button class="@btn" id="@btn" style="background-color:transparent;color:transparent; background-repeat:no-repeat;border:none;cursor:pointer;overflow:hidden;outline:none;width:100px" onclick="clicked('@item','@s_day')">clicked3</button>

                                                                <script>
                                                                    document.getElementsByClassName('@btn')[0].style.backgroundColor = "turquoise";
                                                                       
                                                                        $("#@btn").mousedown(function (e) {

                                                                        if (e.which === 3) {
                                                                                var _class = e.target.getAttribute("id");
                                                                                var sub = _class.split("_");
                                                                                var date = sub[2];
                                                                                var userid = sub[1];
                                                                                var tutorId = sub[5];

                                                                                var name = e.target.innerHTML;
                                                                                document.getElementById("removeTutorId").value = tutorId;
                                                                                document.getElementById("removeUserId").value = userid
                                                                                document.getElementById("removeDate").value = date;
                                                                                document.getElementById("currRemoveDate").value = "@s_date";

                                                                                window.location.href = "#removeModal";
                                                                        }
                                                                        else
                                                                        {
                                                                                var _class = e.target.getAttribute("id");
                                                                                var sub = _class.split("_");
                                                                                var datee = sub[2];
                                                                                var userid = sub[1];
                                                                                var tutorId = sub[5];

                                                                                var name = e.target.innerHTML; 
                                                                                document.getElementById("dateStatus").value = datee;
                                                                                document.getElementById("tutorStatus").value = tutorId;
                                                                                document.getElementById("userStatus").value = userid;
                                                                                document.getElementById("courseId").value = "-1";
                                                                                document.getElementById("currDate").value = "@s_date";

                                                                                document.getElementById("currstatus").value = "@model1.Status";
                                                                                document.getElementById("status").value = "@model1.Status";

                                                                                window.location.href = "#statusModal";

                                                                        }
                                                                    });

                                                                </script>
                                                                break;
                                                            }
                                                            else
                                                            {
                                                                <script>
                                                                    var elem = document.getElementsByClassName('@btn');
                                                                    elem[0].parentNode.removeChild(elem[0]);
                                                                    </script>
                                                                    var label = $"label_{model1.UserId}_{model1.Date.dateTimes[0].ToString("dd-MM-yyyy-HH-mm")}_{countA}_{countB}_{model1.TutorId}";
                                                                    <div id="tooltrip">

                                                                        @{

                                                                            var textMouse = $"Курс: {model1.Course?.Title}; Цель: {model1.Course?.Goal?.Title}; Имя и фамилия: {model1.UserName};";

                                                                            if(ViewData["role"].ToString() == "Manager")
                                                                            {
                                                                                textMouse += $"Репетитор: {model1.TutorFullName}";
                                                                            }
                                                                            if(model1.Status == Status.Перенесен)
                                                                            {
                                                                                <script>console.log("IN!")</script>
                                                                                var rescheduled = model1.RescheduledLessons;
                                                                                <script>console.log("count @rescheduled.Count");</script>

                                                                                foreach (var resc in rescheduled)
                                                                                {
                                                                                    <script>console.log("inss");</script>

                                                                                    if(resc.TutorId== model1.TutorId && resc.UserId == model1.UserId)
                                                                                    {
                                                                                        <script>console.log("insfgfgs");</script>

                                                                                        textMouse += $"Перенесен на: {resc.NewTime};Причина:{resc.Reason};Инициатор:{resc.Initiator};";

                                                                                        break;
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                        <label data-title="@textMouse" id="@label" class="@label" style="background-color:lightblue;width:100px">@model1.UserName.ToString()</label>
                                                                    </div>
                                                                    if (model1.ReadyDates.Count > 0)
                                                                    {

                                                                        var date2 = s_date;
                                                                        foreach (var readyDate in model1.ReadyDates)
                                                                                 {
                                                                            if (readyDate == date2)
                                                                                    {
                                                                                        <script>
                                                                                        document.getElementsByClassName('@label')[0].style.backgroundColor = "mediumblue";
                                                                                        document.getElementsByClassName('@label')[0].style.color = "white";
                                                                                        </script>
                                                                                           

                                                                                    }
                                                                                }
                                                                            
                                                                        }
                                                                        else
                                                                        {
                                                                            if (model1.Status == Status.Проведен) {
                                                                                <script>
                                                                                document.getElementsByClassName('@label')[0].style.backgroundColor = "mediumblue";
                                                                                document.getElementsByClassName('@label')[0].style.color = "white";
                                                                            </script>

                                                                        }else if (model1.Status == Status.ОжидаетОплату)
                                                                        {
                                                                            <script>
                                                                                document.getElementsByClassName('@label')[0].style.backgroundColor = "mediumblue";
                                                                                document.getElementsByClassName('@label')[0].style.color = "white";
                                                                                console.log(@model1.CreatedDate);

                                                                                @{
                                                                                    var text2 = "";

                                                                                    DateTime now = DateTime.Now;
                                                                                    DateTime target = model1.CreatedDate.AddHours(24);

                                                                                    TimeSpan diff = target - now;

                                                                                    double totalSeconds = diff.TotalSeconds;

                                                                                    text2 += $"Для оплаты занятия у ученика осталось: {TimeSpan.FromSeconds(totalSeconds).ToString(@"h\:mm\:ss")}";
                                                                                }
                                                                            </script>
                                                                            <label style="background-color:yellow;width:100px" data-title="@text2">(!)</label>

                                                                        }


                                                                    }

                                                                    if(model1.RescheduledLessons.Count > 0)
                                                                    {
                                                                        foreach (var less in model1.RescheduledLessons)
                                                                        {
                                                                            if(less.OldTime == s_date)
                                                                            {
                                                                                <script>
                                                                                    document.getElementsByClassName('@label')[0].style.backgroundColor = "gray";
                                                                                    document.getElementsByClassName('@label')[0].style.color = "white";
                                                                                </script>
                                                                            }
                                                                        }
                                                                    }

             
                                                                       <script>
                                                                    $("#@label").mousedown(function (e) {
                                                                        if (e.which === 3) {
                                                                            var _class = e.target.getAttribute("id");
                                                                            var sub = _class.split("_");
                                                                            var date = sub[2];
                                                                            var userid = sub[1];
                                                                            var tutor_id = sub[5];
                                                                            var name = e.target.innerHTML;

                                                                                document.getElementById("removeTutorId").value = tutor_id;
                                                                                document.getElementById("removeUserId").value = userid;
                                                                                document.getElementById("currRemoveDate").value = "@s_date";

                                                                            document.getElementById("removeDate").value = date;
                                                                            window.location.href = "#removeModal";

                                                                            } else {
                                                                                var _class = e.target.getAttribute("id");
                                                                                var sub = _class.split("_");
                                                                                var datee = sub[2];
                                                                                var userid = sub[1];
                                                                                var tutor_id = sub[5];

                                                                                var name = e.target.innerHTML;
                                                                                document.getElementById("dateStatus").value = "@model1.Date.dateTimes[0]";
                                                                                document.getElementById("tutorStatus").value = tutor_id;
                                                                                document.getElementById("userStatus").value = userid;
                                                                                document.getElementById("courseId").value = @model1.Course?.Id;
                                                                                document.getElementById("currstatus").value = "@model1.Status";
                                                                                document.getElementById("currDate").value = "@s_date";
                                                                                document.getElementById("status").value = "@model1.Status";
                                                                                window.location.href = "#statusModal";

                                                                            }
                                                                    });

                                                                  </script>
                                                                    
                                                                    <style>
                                                                        label[data-title] {
                                                                        position: relative;
                                                                        display: inline-block;
                                                                        cursor: pointer;
                                                                        border-bottom: 1px dashed #000;
                                                                        }
                                                                        
                                                                        label[data-title]:hover:before {
                                                                        content: attr(data-title);
                                                                        position: absolute;
                                                                        width: 150px;
                                                                        color: #fff;
                                                                        height:auto;
                                                                        word-wrap:break-word;
                                                                        background: #000;
                                                                        padding: 5px;
                                                                        border-radius: 4px;
                                                                        bottom: 25px;
                                                                        left: 50px;
                                                                        }
                                                                    </style>
                                                                    break;
                                                                }
                                                        }
                                                        else
                                                        { 
                                                            <script>
                                                                    var elem = document.getElementsByClassName('@btn');
                                                                    elem[0].parentNode.removeChild(elem[0]);
                                                            </script>

                                                             var textMouse = $"Курс: {model1.Course?.Title}; Цель: {model1.Course?.Goal?.Title}; Имя и фамилия: {model1.UserName}; ";

                                                            if(ViewData["role"].ToString() == "Manager")
                                                            {
                                                                textMouse += $"Репетитор: {model1.TutorFullName}";
                                                            }

                                                            if(model1.Status == Status.Перенесен)
                                                            {
                                                                <script>console.log("IN!")</script>
                                                                var rescheduled = model1.RescheduledLessons;
                                                                <script>console.log("count @rescheduled.Count");</script>

                                                                foreach (var resc in rescheduled)
                                                                {
                                                                    <script>console.log("inss");</script>

                                                                    if(resc.TutorId== model1.TutorId && resc.UserId == model1.UserId)
                                                                    {
                                                                        <script>console.log("insfgfgs");</script>

                                                                        textMouse += $"Перенесен на: {resc.NewTime};Причина:{resc.Reason};Инициатор:{resc.Initiator}";
                                                                        break;
                                                                    }
                                                                }
                                                            }

                                                                var label = $"label_{model1.UserId}_{model1.Date.dateTimes[0].ToString("dd-MM-yyyy-HH-mm")}_{countA}_{countB}";

                                                                 <style>
                                                                        label[data-title] {
                                                                        position: relative;
                                                                        display: inline-block;
                                                                        cursor: pointer;
                                                                        border-bottom: 1px dashed #000;
                                                                        }
                                                                        
                                                                        label[data-title]:hover:before {
                                                                        content: attr(data-title);
                                                                        position: absolute;
                                                                        width: 150px;
                                                                        color: #fff;
                                                                        height:auto;
                                                                        word-wrap:break-word;
                                                                        background: #000;
                                                                        padding: 5px;
                                                                        border-radius: 4px;
                                                                        bottom: 25px;
                                                                        left: 50px;
                                                                        }
                                                                    </style>

                                                                @if(ViewData["role"].ToString() == "Manager")
                                                                {
                                                                    if (string.IsNullOrEmpty(model1.UserName))
                                                                    {
                                                                        <label data-title="@textMouse" id="@label" class="@label"  style="width:100;background-color:turquoise"></label>
                                                                    }
                                                                    else{

                                                                        <label data-title="@textMouse" id="@label" class="@label" style="background-color:lightblue;width:100px">@model1.UserName.ToString()</label>

                                                                    }

                                                                }else{
                                                                    <label data-title="@textMouse" id="@label" class="@label" style="background-color:lightblue;width:100px">@model1.TutorFullName.ToString()</label>

                                                                }

                                                                if (model1.ReadyDates.Count > 0)
                                                                {

                                                                    var date3 = s_date;
                                                                    foreach (var readyDate in model1.ReadyDates)
                                                                    {

                                                                        if (readyDate == date3)
                                                                        {
                                                                            <script>
                                                                                document.getElementsByClassName('@label')[0].style.backgroundColor = "mediumblue";
                                                                                document.getElementsByClassName('@label')[0].style.color = "white";
                                                                            </script>
                                                                        }
                                                                    }

                                                                }
                                                                else
                                                                {
                                                                    if (model1.Status == Status.Проведен)
                                                                    {
                                                                        <script>
                                                                            document.getElementsByClassName('@label')[0].style.backgroundColor = "mediumblue";
                                                                            document.getElementsByClassName('@label')[0].style.color = "white";
                                                                        </script>

                                                                    }else if (model1.Status == Status.ОжидаетОплату)
                                                                    {
                                                                        <script>
                                                                            document.getElementsByClassName('@label')[0].style.backgroundColor = "mediumblue";
                                                                            document.getElementsByClassName('@label')[0].style.color = "white";
                                                                            console.log(@model1.CreatedDate);

                                                                            @{
                                                                                var text2 = "";

                                                                                DateTime now = DateTime.Now;
                                                                                DateTime target = model1.CreatedDate.AddHours(24);

                                                                                TimeSpan diff = target - now;

                                                                                double totalSeconds = diff.TotalSeconds;

                                                                                text2 += $"Для оплаты занятия у ученика осталось: {TimeSpan.FromSeconds(totalSeconds).ToString(@"h\:mm\:ss")}";
                                                                            }
                                                                        </script>
                                                                        <label style="background-color:yellow;width:100px" data-title="@text2">(!)</label>

                                                                    }

                                                                }
                                                                
                                                                if (model1.RescheduledLessons.Count > 0)
                                                                {
                                                                    foreach (var less in model1.RescheduledLessons)
                                                                    {
                                                                        if (less.OldTime == s_date)
                                                                        {
                                                                            <script>
                                                                                document.getElementsByClassName('@label')[0].style.backgroundColor = "gray";
                                                                                document.getElementsByClassName('@label')[0].style.color = "white";
                                                                            </script>
                                                                        }
                                                                    }
                                                                }
                                                               
                                                                break;
                                                            }
                                                        }
                                                    }
                                                }





                                            }
                                        }
                                    </div>
                                </td>

                                prev_day = s_day;
                                countB++;
                        }
                    }
                      
                </tr>
                countA++;
            }
    }    
    </table>

    
</div>

</div>
