@model List<server.Models.Schedule>
<style>
    table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid black;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

</style>
<label>Сегодня: @DateTime.Now.ToString("dd.MM.yyyy")</label>

<div class="calendar">
    <div class="header">
        <button type="button" onclick=""><<</button> @DateTime.Now.ToString("MMM yyyy") <button type="button" onclick="">>></button> Неделя
    </div>
    <br/>
     <table cellpadding="0" cellspacing="0">
    <tr>
            <th></th>
            <th> Пн @DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday).Day </th>
            <th> Вт @DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday).AddDays(1).Day </th>
            <th> Ср @DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday).AddDays(2).Day </th>
            <th> Чт @DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday).AddDays(3).Day </th>
            <th> Пт @DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday).AddDays(4).Day </th>
            <th> Сб @DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday).AddDays(5).Day </th>
            <th> Вс @DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday).AddDays(6).Day </th>

    </tr>
        @{
            var w_days = new List<DayOfWeek>()
        {
        DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday
        };
            var hours = new List<string>()
            {
        "00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00","08:00", "09:00","10:00", "11:00","12:00", "13:00","14:00", "15:00","16:00", "17:00",
        "18:00", "19:00","20:00", "21:00","22:00", "23:00"

            };

        foreach (var item in hours)
            {

                <tr>
                
                <td>@item</td>
                    @{
                        foreach (var day in w_days)
                        {
                            
                            <td>

                                <div>
                                    @{
                                        foreach (var model1 in Model)
                                        {
                                            foreach (var m_date in model1.Date.dateTimes)
                                            {
                                                if(m_date.DayOfWeek == day)
                                                {
                                                    if(m_date.Hour == DateTime.Parse(item).Hour)
                                                    {
                                                        if(ViewData["role"].ToString() == "Tutor")
                                                        {
                                                            <label>@model1.UserName.ToString()</label>
                                                        }
                                                        else
                                                        { 
                                                            <label>@model1.TutorFullName.ToString()</label>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                }
                                </div>
                                  
                                
                            </td>
                        }


                    }
                 </tr>

               
            }
    }
        
         
        
    </table>
</div>