@using web_server.Models;
@using web_server.Models.DBModels;
@model User

@{
    Layout = "_Layout";
}

@{

    <link rel="stylesheet" type="text/css" href="~/css/modal.css">
    
    <script>

    function trial(){
                    document.getElementById('isTrialPay').value = true;
                       document.getElementById('count2').value = 1;
            document.getElementById('countView').value =  250;

}
        function clicked() {    

        document.getElementById('count2').value++;
        document.getElementById('count2').onchange(document.getElementById('count2'));

        }
        function changed2(el) {

          
            document.getElementById('countView').value = el.value * 1000;

            
        }
        function selectChanged(el) {

            var spl = el.value.split(';');
                    document.getElementById('count3').value=spl[0];
            document.getElementById('countView').value = spl[0] * spl[1];
        }
    </script>
    <script>
    
    function checkmoney(el){
            if (Number(el.value) > Number(document.getElementById('balance_input').value)){
                document.getElementById('withdraw_btn').disabled = 'disabled';
                document.getElementById('error').removeAttribute('hidden');


            }else{
                document.getElementById('withdraw_btn').removeAttribute('disabled');
                document.getElementById('error').hidden = "hidden";


            }
    }
    function closeModal(){
            document.getElementById('count').value = '';
             document.getElementById('withdraw_btn').removeAttribute('disabled');
                document.getElementById('error').hidden = "hidden";
        window.location.href = '#';
    }
    </script>
    <style>
    hr{
        margin-left:-50%;
        margin-right:-50%;
    }
        input#balance_input[disabled] {
            background-color:white;
        }

        label input[disabled] {
            background-color: white;
        }

        .hist{
            font-size:26px;
        }


        @@media (min-width: 1536px) {
            #text-d8c022 {
                width: 200px !important;
            }
           
            #text-d8c0 {
                width: 500px !important;
            }
            .toMarg{
                margin-left:-100px;
            }
        }
        
        @@media (min-width: 1920px) {
            #text-d8c022 {
                width: 300px !important;
            }

            .toMarg {
                margin-left: 100px;
            }
            #text-d8c0 {
                width: 870px !important;
            }
        }

        #purchase label{
            font-size:36px;
            font-weight: 700;
        }

    

        select {
            text-align: center;
        }

        option {
            text-align: center;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        
    </style>

    <div>
    
    
    </div>
    <div id="withdrawModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Вывод Средств</h3>
                    <a onclick="closeModal()" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">

                    <form method="post" action="/balance/withdrawbalance">
                    <label id="error" style="color:darkred" hidden="hidden">Недостаточно средств для вывода</label>
                    <br/>
                        <br />
                        <label>Количество:</label>
                        <input id="count" name="count" min="0" max="99999" type="number" onkeyup="checkmoney(this)" placeholder="0"/>
                        <input hidden="hidden" name="tutorId" id="tutorId" value="@Model.UserId"/>
                        <br />
                        <br/>
                        <div align="center">

                            <button type="submit" id="withdraw_btn" class="u-btn u-btn-round u-button-style u-custom-color-2 u-radius-10" style="color:black !important;display:inline-block" onclick="closeModal1()">
                            Вывести
                        </button>

                        </div>

                    </form>


                </div>

            </div>
        </div>
    </div>
    <div style="margin-left:250px">
        <p class="u-custom-font u-font-montserrat p12 u-text u-text-default u-text-1 p12" style="margin-left:450px;font-size:30px;font-weight:700">Баланс</p>
        <div class="toMarg" style="">
            @{
            if (Model.Role == "Tutor" || Model.Role == "Manager")
            {
                <div id="balance">
                    <label type="text" placeholder="" id="text-d8c0" name="about" class="u-custom-color-1 u-input u-input-rectangle u-radius-10" style="display:inline-block;margin-left:40px;width:400px;font-size:30px;background-color:#fff;box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);font-size:20px"><span style="font-weight:700">Баланс</span>: <input id="balance_input" style="border:none;width:60%;" disabled="disabled" value="@Model.Balance" /><img style="width:40px;height:40px;float:right;padding-bottom:5px" src="~/content/images/goldCoins.svg"></label>

                    <button class="u-btn u-btn-round u-button-style u-custom-color-2 u-radius-10" id="text-d8c022" style="margin-left:50px;height:60px;display:inline-block;margin-right: 50px;color:black !important;box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);font-size:20px" onclick="window.location.href='#withdrawModal'">
                        Вывод средств
                    </button>
                </div>
            }
            else
            {
                var stud = (Student)Model;

                if (stud.Credit.Where(m => m.Repaid == false).ToList().Count > 0)
                {
                    var cred = stud.Credit.Where(m => m.Repaid == false).ToList().Count;
                    <br />
                    <label style="color:darkred">ВНИМАНИЕ! У вас имеется задолжность за: @cred занятие(й).</label>

                    <br />

                    <br />
                }

                <div id="count">

                    <label type="text" placeholder="" id="text-d8c0" name="about" class="u-custom-color-1 u-input u-input-rectangle u-radius-10" style="display:inline-block;width:400px;background-color:#fff;box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);font-size:26px;margin-top:50px"><span style="font-weight:700">Осталось</span>: <input value='@stud.LessonsCount занятий' id="balance_input" style="border:none" disabled="disabled" /><img style="width:40px;height:40px;float:right;padding-bottom:5px" src="~/content/images/goldCoins.svg"></label>

                </div>

                <br />
                <br />
                <div id="purchase">


                    <form method="post" action="/balance/setLessons">
                        <input hidden="hidden" name="userId" id="userId" value="@stud.UserId" />
                        <input hidden="hidden" name="isTrialPay" id="isTrialPay" value="false" />

                       

                        @{

                            if (stud.UsedTrial == false)
                            {

                               
                        <label style="font-size:31px !important">Добавить пробное занятие стоимостью 250 рублей:</label>
                                <button type="button" class="u-btn u-btn-round u-button-style u-custom-color-2 u-radius-10" id="text-d8c022" style="margin-left:50px;height:60px;display:inline-block;margin-right: 50px;color:black !important;box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);" onclick="trial()">
                                    Добавить
                                </button>


                            }
                            else
                            {
                               
                            }
                       

                        }


                        <label>Выберите пакет занятий:</label>
                        <select id="mySelect" class="u-btn u-btn-round u-button-style u-custom-color-2 u-radius-10" style="font-size:20px;display:inline-block;;box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);margin-left:50px" onchange="selectChanged(this)">

                            @{
                                <option value="0"></option>

                                foreach (Tariff item in (List<Tariff>)ViewData["tariffs"])
                                {
                                    <option value="@item.LessonsCount;@Math.Abs(item.Amount/item.LessonsCount)">@item.Title</option>
                                }
                            }

                        </select>
                        <br />
                        <br />

                        <label>Или</label>
                        
                        <br />

                        <label>Выберите количество занятий (вне пакета)</label>

                        <label type="text" placeholder="" name="about" class="u-custom-color-1 u-input u-input-rectangle u-radius-10" style="display:inline-block;margin-left:40px;width:400px;font-size:20px;background-color:#fff;box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);font-size:20px;width:80px;height:60px"><input id="count2" onchange="changed2(this)" name="count" maxlength="2" style="border:none;width:60%;padding-left:28%;" type="number" min="0" max="99" value="0" /></label>

                       

                        <button type="button" class="u-btn u-btn-round u-button-style u-custom-color-2 u-radius-10" id="text-d8c022" style="margin-bottom:16px;font-size:26px;padding-left:30px;margin-left:50px;height:60px;display:inline-block;margin-right: 50px;color:black !important;box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);width:80px !important" onclick="clicked()">
                            <span>+</span>
                        </button>

                        <input id="count3" hidden="hidden" name="count3" value="0" />




                        <br />
                        <br />
                        <div>
                            <label type="text" placeholder="" name="about" class="u-custom-color-1 u-input u-input-rectangle u-radius-10" style="display:inline-flex;margin-left:40px;width:300px;font-size:20px;background-color:#fff;box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);font-size:20px;height:60px"><span style="display:inline-flex;">Стоимость:</span><input id="countView" disabled="disabled" value="0" style="border:none;width:90px;padding-bottom:10px; display:inline-block;padding-left:20px;font-weight:700;" /> <span>рублей</span></label>
                        </div>

                        <button type="submit" class="u-btn u-btn-round u-button-style u-custom-color-2 u-radius-10" id="text-d8c022"  style="margin-top:50px;font-size:20px;margin-left:450px;height:60px;display:inline-block;margin-right: 50px;color:black !important;box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);">
                            Пополнить счет
                        </button>
                        <br />
                        <br />

                    </form>
                </div>


            }

    }
        </div>
    </div>
   
}

<br />
<br />
<div id="history" style="margin-left:250px">
    <p class="u-custom-font u-font-montserrat p12 u-text u-text-default u-text-1 p12" style="margin-left:450px;font-size:30px;font-weight:700">История</p>
    <br />
    <div class="toMarg" style="">
    @{

        var sorted = Model.BalanceHistory.OrderBy(m=>m.Date).Reverse();

        foreach (var item in sorted)
        {
            if(!string.IsNullOrEmpty(item.CustomMessage))
            {
                <hr />
                <div class="hist">
                    <label><b>@item.Date.ToString("dd.MM.yyyy HH:mm")</b></label>
                    <br />
                    <label>@item.CustomMessage</label>
                    <br />
                    @{
                        if(item.CashFlow != null && Model.Role != "Student")
                    {
                    <label>@item.CashFlow.Amount</label>
                    }
                    }
                </div>
            }

        }

       
    }
    @{
        if(ViewData["error"] != null)
        {
            <script>alert('@ViewData["error"].ToString()')</script>
        }
    }
    </div>
    </div>
 