@using web_server.Models;
@model List<Schedule>
@{
    Layout = "_Layout";
}


<script>

    function openInfo(){
        window.location.href = "#openmodal";
    }

</script>
<div>

    @{

        Dictionary<string, int> dic = new Dictionary<string, int>();
        foreach (var item in Model)
        {
            if (ViewData["role"].ToString() == "Tutor")
            {
                if (dic.ContainsKey(item.UserName))
                {
                    dic[item.UserName]++;
                }
                else
                {
                    dic.Add(item.UserName, 1);
                }
            }
            else
            {
                if (dic.ContainsKey(item.TutorFullName))
                {
                    dic[item.TutorFullName]++;
                }
                else
                {
                    dic.Add(item.TutorFullName, 1);
                }
            }
        }

        foreach (var item in dic)
        {
            if(ViewData["role"].ToString() == "Tutor")
            {
                <label>Ученик: @item.Key Осталось занятий: @item.Value Курс: @Model.FirstOrDefault(m=>m.UserName == item.Key).Course.Title</label>

            }
            else
            {
                foreach (User tutor in (List<User>)ViewData["users"])
                {
                    if (tutor.UserId == @Model.FirstOrDefault(m => m.TutorFullName == item.Key).TutorId)
                    {
                        <script>console.log("@tutor.PhotoUrl")</script>
                        <img width="100" height="100" onclick="openInfo()" src="@tutor.PhotoUrl" />
                        <label>Репетитор: @item.Key Курс: @Model.FirstOrDefault(m=>m.TutorFullName == item.Key).Course?.Title</label>
                    }
                }
            }
            <br />
        }
    }
</div>