@    using web_server.Models;
    using web_server.Models.DBModels;
@model List<Course>;
@{
    Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="~/css/modal.css">


<div>

    <div id="openModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Добавить курс
                </h3>
                <a onclick="#" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                
                  <form method="post" action="/courses/savenew">
        
                    <label>Название:</label>
                    <input name="title" id="title" type="text" value=""/>
                    <br/>
                        <br />
                        <label>Цель:</label>

                    <select name="goalId" id="goalId">
                        <option value=""></option>
                        @foreach (Goal item in (List<Goal>)ViewData["goals"])
                        {
                            <option value="@item.Id">@item.Title</option>
                        }

                    </select>
                    <br />
                    <br />
                    <input type="submit" value="Сохранить"/>
                        <input type="button" onclick="window.location.href='#'" value="отмена" />

                    <br />
                    <br />

                   </form>


            </div>
        </div>
    </div>
</div>

    <br />
    <input type="text" id="search" placeholder="Поиск...">
    <input type="button" value="Добавить курс" onclick="window.location.hash='#openModal'" />

    <br/>
    <table id="table">
        <thead>
            <tr>
                <th>Название</th>
            </tr>
        </thead>
        <tbody id="table-body">
            @foreach (var item in Model)
            {
                 <tr>
                    <td>
                    @item.Title
                    </td>
                    <td>
                        <button onclick="openEdit('@item.Id', '@item.Title', '@item.Goals[0].Id')">Edit</button>
                    </td>
                    <td>
                        <button onclick="openRemove('@item.Id')">Remove</button>
                    </td>
                </tr>   
            
            }
        
         
        </tbody>
    </table>    
</div>
<div id="openRemoveModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Подтвердите удаление курса из системы
                </h3>
                <a href="#closeRemoveModal" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <form method="post" action="/courses/removeCourse">
                    <input hidden="hidden" value="" id="courseId" name="courseId" />
                    <br />                    <br />

                    <input type="submit" value="Удалить"/>
                    <input type="button" value="Отмена" onclick="closeRemove()">
                </form>

            </div>
        </div>
    </div>
</div>

<div id="openEditModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Изменение курса
                </h3>
                <a href="#closeEditModal" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <form method="post" action="/courses/editCourse">
                    <input hidden="hidden" value="" id="courseIdEdit" name="courseIdEdit" />
                    <input value="" id="courseTitle" name="courseTitle" />
                    <select name="goalEditId" id="goalEditId">
        <option value=""></option>
        @foreach (Goal item in (List<Goal>)ViewData["goals"])
        {
            <option value="@item.Id">@item.Title</option>
        }

    </select>
                    <br /><br />

                    <input type="submit" value="Изменить"/>
                    <input type="button" value="Отмена" onclick="closeEdit()">
                </form>

            </div>
        </div>
    </div>
</div>
@{

    if(ViewData["error"] != null)
    {
        <script>alert('@ViewData["error"].ToString()')</script>
    }
}
<script>

    function closeRemove(){
        window.location.hash = "#closeRemoveModal";

    }
    function closeEdit() {
        window.location.hash = "#closeEditModal";

    }
    function openEdit(id, title, goal){
        document.getElementById('courseTitle').value = title;
        document.getElementById('goalEditId').value = goal; 
        document.getElementById('courseIdEdit').value = id;
        window.location.hash = "#openEditModal";

    }
    function openRemove(id) {
        document.getElementById('courseId').value = id;
        window.location.hash = "#openRemoveModal";
    }

    function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                txtValue = td[j].textContent || td[j].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    document.getElementById("search").onkeyup = searchTable;

</script>